.main__mint {
  width: 20%;
  top: 18%;
  right: 12%;
  cursor: pointer;

  &:hover {
    opacity: .9;
  }

  &:active {
    opacity: .8;
  }
}

.main__hands-glasses-img {
  transition-duration: .2s;
}
