.roadmap__roll {
  z-index: -1;
}

.roadmap__roll {
  height: 365px;
}

.roadmap__text-container {
  width: 90%;

  div {
    flex: 1 1 auto;
  }
}

.roadmap__text {
  position: relative;
  margin-top: 90px;
  height: 95px;

  span {
    display: inline-block;
    padding: 0 10px;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.roadmap__line {
  width: 93%;
  bottom: 69px;
  z-index: -1;
}

.roadmap__mobile-bg {
  margin-left: -5%;
  width: 110%;
}

.roadmap__chapter {
  left: 38%;
  width: 40%;
}

.roadmap__c1 {
  top: 18.5%;
  
}

.roadmap__c2 {
  top: 34.5%;
}

.roadmap__c3 {
  top: 53.5%;
}

.roadmap__c4 {
  top: 75.5%;
}
