.roadmap__roll {
  z-index: -1;
}

.roadmap__roll {
  height: 365px;
}

.roadmap__text-container {
  width: 90%;
}

.roadmap__text {
  margin-top: 90px;
  height: 95px;
}

.roadmap__line {
  width: 93%;
  bottom: 69px;
  z-index: -1;
}
