$spacer: 1rem;

$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 2,
  5: $spacer * 3,
  6: $spacer * 4,
  7: $spacer * 5,
  8: $spacer * 6,
  9: $spacer * 7,
  10: $spacer * 8,
);

$h1-font-size: 3.75rem;
$h2-font-size: 3rem;
$h3-font-size: 2.25rem;
$h4-font-size: 1.5rem;

// Configuration
@import "../node_modules/bootstrap/scss/_functions.scss";
@import "../node_modules/bootstrap/scss/_variables.scss";
@import "../node_modules/bootstrap/scss/_mixins.scss";
@import "../node_modules/bootstrap/scss/_utilities.scss";

// Layout
@import "../node_modules/bootstrap/scss/_root";
@import "../node_modules/bootstrap/scss/_reboot";
@import "../node_modules/bootstrap/scss/_containers";
@import "../node_modules/bootstrap/scss/_grid";

// Helpers
@import "../node_modules/bootstrap/scss/_helpers.scss";

// Utilities
@import "../node_modules/bootstrap/scss/utilities/_api.scss";


$main-font-color: #737373;
$general-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

html, body {
  min-width: 375px;
  overflow-x: hidden;
}

@font-face {
  font-family: "Montserrat";
  src: url("../public/Montserrat-Regular.ttf");
}


body {
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav__logo {
  width: 270px;

  @include media-breakpoint-down(lg) {
    width: 180px;
  }
}

.main__head-img {
  width: 60%;
}

.main__hands-glasses-img {
  top: 30.5%;
}

.main__yellowboard {
  z-index: -1;
}

.main__yellowboard-content {
  padding: 9% 15%;

  h1 {
    font-size: 110px;
  }

  p {
    font-size: 40px;
    margin-bottom: 0;
  }

  .main__yellowboard-content-count {
    font-size: 60px;
  }

  @include media-breakpoint-down(xl) {
    h1 {
      font-size: 60px;
    }
  
    p {
      font-size: 30px;
    }

    .main__yellowboard-content-count {
      font-size: 40px;
    }
  }

  @include media-breakpoint-down(lg) {
    h1 {
      font-size: 35px;
    }
  
    p {
      font-size: 20px;
    }

    .main__yellowboard-content-count {
      font-size: 25px;
    }
  }

  @include media-breakpoint-down(md) {
    h1 {
      font-size: 30px;
    }
  
    p {
      font-size: 18px;
    }

    .main__yellowboard-content-count {
      font-size: 22px;
    }
  }


  @include media-breakpoint-down(sm) {
    h1 {
      font-size: 22px;
    }
  
    p {
      font-size: 16px;
      margin-bottom: 0;
    }

    .main__yellowboard-content-count {
      font-size: 22px;
    }
  }
  
}

.kooks-all {
  font-size: 121px;
  font-weight: 600;
  margin-bottom: 0;

  @include media-breakpoint-down(xxl) {
    font-size: 104px;
  }

  @include media-breakpoint-down(xl) {
    font-size: 87px;
  }

  @include media-breakpoint-down(lg) {
    font-size: 63px;
  }

  @include media-breakpoint-down(md) {
    font-size: 46px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 7.5vw;
  }
}

.distribution__chart-wrapper {
  width: 80%;

  @include media-breakpoint-down(sm) {
    width: 90%;
  }
}

.distribution__chart {
  width: 100%;

  @include media-breakpoint-down(md) {
    width: 210%;
  }
}

.distrubution__desc {
  right: 12%;
  top: 30%;

  @include media-breakpoint-down(xxl) {
    
  }

  @include media-breakpoint-down(xl) {
    right: 11%;
    top: 30%;
  }

  @include media-breakpoint-down(lg) {
    right: 9%;
    top: 30%;
  }

  @include media-breakpoint-down(md) {
    right: 9%;
    top: 30%;
  }

  @include media-breakpoint-down(sm) {
    
  }
}

.distrubution__line {
  margin-bottom: 16%;

  @include media-breakpoint-down(xxl) {
    font-size: 14px;
    margin-bottom: 16%;
  }

  @include media-breakpoint-down(xl) {
    font-size: 13px;
    margin-bottom: 13%;
  }

  @include media-breakpoint-down(lg) {
    font-size: 11px;
    margin-bottom: 9%;
  }

  @include media-breakpoint-down(md) {
    font-size: 14px;

  }

  @include media-breakpoint-down(sm) {
    font-size: 14px;
  }
}

.distrubution__perc5 {
  top: 18%;
  left: 23%;
}

.distrubution__perc60 {
  top: 48%;
  left: 10%;
}

.distrubution__perc35 {
  top: 43%;
  left: 28%;
}

@include media-breakpoint-down(md) {
  .distrubution__perc5 {
    top: 19%;
    left: 48%;
  }
  
  .distrubution__perc60 {
    top: 49%;
    left: 22%;
  }
  
  .distrubution__perc35 {
    top: 43%;
    left: 69%;
  }
}

.distrubution__blue-line {
  img {
    width: 200px;
    top: -97px;
    right: -62px;
  }
}

.distrubution__yellow-line {
  bottom: -78px;
    right: 31px;

  img {
    width: 300px;
    bottom: -20px;
    right: -62px;
  }
}

.distrubution__red-line {
  top: -52px;
    left: 179px;

  img {
    width: 150px;
    top: 12px;
    right: -21px;
  }
}

.team__glasses-bg {
  width: 100%;
}

.team__image-mobile {
  top: 14%;
  left: 7%;
  z-index: -1;
  width: 300px;

  @include media-breakpoint-down(lg) {
    width: 220px;
  }

  @include media-breakpoint-down(md) {
    width: 164px;

  }

  @include media-breakpoint-down(sm) {
    top: 15%;
    left: 7%;
    width: 30vw;
  }
}

.team__member-info {
  top: 13%;
  right: 8%;
  width: 300px;

  @include media-breakpoint-down(lg) {
    top: 38%;
    width: 210px;
  }

  @include media-breakpoint-down(md) {
    top: 31%;
    width: 160px;

  }

  @include media-breakpoint-down(sm) {
    top: 32%;
    width: 27vw;

    h4 {
      font-size: 14px;
    }

    p {
      font-size: 12px;
    }
  }
}

.team__image-mobile-reserve {
  .team__image-mobile {
    left: unset;
    right: 7%;
  
    @include media-breakpoint-down(sm) {
      right: 7%;
    }
  }

  .team__member-info {
    left: 8%;
  }
}

.footer__logo {
  width: 200px;
  margin-top: 300px;

  @include media-breakpoint-down(lg) {
    margin-top: 100px;
  }
}
